<ion-header>
  <ion-navbar>
    <ion-title>
      GEOLOCATION
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <h3>My</h3>
    <b *ngIf="message">{{message}}</b>
    <div *ngIf="!message">
      <b>Latitude: {{latitude}}</b>
      <b>longitude: {{longitude}}</b>
    </div>
    
    <b *ngIf="distance">Distance for BIT: {{distance}}</b>
    <h4 *ngIf="activated">GEOLOCATION SEARCH ACTIVATED</h4>
    
  </div>
  <button ion-button round block (click)="getGeo()">get</button>

<div>
  
  <hr>
  <div *ngIf="coordsRealTime">
    <b>Latitude: {{coordsRealTime.latitude}}</b>
      <b>longitude: {{coordsRealTime.longitude}}</b>
  </div>
  <button *ngIf="!coordsRealTime" ion-button round block (click)="getRealtime()">get in realtime</button>
</div>

</ion-content>



